<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  {% load static from staticfiles %}
  <title> {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>


<body >

<ul class="navbar">
  <li><a href="/">Home page</a>
  <li><a href="/search">Auto's zoeken</a>
  <li><a href="/add">Auto's toevoegen</a>
  <li><a href="">Contact</a>
  <li><a href="">Links</a>
</ul>

<!-- Main content -->
<div id="page">
<div id="title">
<h1>{% block title %}{% endblock %}</h1>

</div>
<div id="content">
{% block content %}{% endblock %}
</div>

{% block footer %}
<address>
  by Ralph and Dimitry</address>
{% endblock %}
</div>
</body>
</html>